POSTGRES_PORT=5544
POSTGRES_DB=pid
POSTGRES_SUPERUSER=postgres
POSTGRES_SUPERUSER_PASSWORD=replace_with_local_secret

PID_MIGRATOR_PASSWORD=replace_with_local_secret
PID_APP_PASSWORD=replace_with_local_secret
PID_WORKER_PASSWORD=replace_with_local_secret
